---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Definir el orden de las posiciones
const positionOrder: Record<string, number> = {
  'Top': 1,
  'Jungler': 2,
  'Mid': 3,
  'Adc': 4,
  'Support': 5
};

const players = await getCollection('players');

// Filtrar y ordenar los jugadores
players.sort((a, b) => {
  const positionA = positionOrder[a.data.position as keyof typeof positionOrder] || 999;
  const positionB = positionOrder[b.data.position as keyof typeof positionOrder] || 999;
  return positionA - positionB;
});

---

<Layout title="G2 Esports Playerbase">
	<main class="flex flex-col items-center">
		<section aria-label="Libros recomendados para programadores">
			<div class="px-4 mx-auto max-w-screen-xl">
				<div class="grid gap-6 md:grid-cols-2">
					{
						players.map(player => {
							const { slug, data } = player
							const { nickname, name, country, birthday, age, team, position, img } = data
	
							return (
								<article class="flex">
									<a href={`/player/${slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
										<img
											transition:name={`img-${slug}`}
											class="mr-5 w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-full mb-2 object-cover object-top"
											src={`/${img}`}
											alt={name}
										/>
									</a>
									
									<div class="flex flex-col justify-center">
										<h1 transition:name={`nickname-${slug}`} class="mb-2 text-4xl font-bold leading-tight text-white">
											{nickname}
										</h1>
										<h2 transition:name={`name-${slug}`} class="mb-2 text-2xl font-bold leading-tight text-white">
											{name}
										</h2>
	
										<p class="mb-4 text-gray-300 max-w-sm">{position}</p>
									</div>
								</article>
							)
						})
					}
				</div>
			</div>
		</section>
</main>
</Layout>

<style>
    img {
        filter: drop-shadow(
        0 0 10px rgb(214, 211, 30)
        );
    }
</style>