---
import Layout from "../../layouts/Layout.astro";
import { CALENDAR_API_ENDPOINT } from "astro:env/server";

// Fetch upcoming matches at build time or server-side render
const res = await fetch(`${CALENDAR_API_ENDPOINT}/matches/upcoming`);
const matches = await res.json();
---

<Layout
  title="G2 History Calendar"
  description="Consulta el calendario de partidos de G2 Esports."
  image="/g2_logo.png"
  url="https://www.g2leaguehistory.online/calendar"
>
  <h1>Próximos Partidos de G2 Esports</h1>
  {
    matches.length > 0 ? (
      <ul>
        {matches.map((match: { matchPage: string | URL | null | undefined; team1: unknown; team2: unknown; bo: unknown; date: unknown; streams: { twitch: string | URL | null | undefined; youtube: string | URL | null | undefined; }; tournament: { url: string | URL | null | undefined; name: unknown; }; }) => (
          <li id={String(match.matchPage)} style="margin-bottom: 1.5rem;">
            <h2>
              {match.team1} vs {match.team2}
            </h2>
            <p>
              <strong>Formato:</strong> {match.bo}
            </p>
            <p>
              <strong>Fecha:</strong> {match.date}
            </p>
            <p>
              <strong>Streams:</strong>
              {match.streams.twitch && (
                <a
                  href={match.streams.twitch}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {" "}
                  Twitch{" "}
                </a>
              )}
              {match.streams.youtube && (
                <a
                  href={match.streams.youtube}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {" "}
                  YouTube{" "}
                </a>
              )}
            </p>
            <p>
              <strong>Detalles:</strong>
              <a
                href={match.matchPage}
                target="_blank"
                rel="noopener noreferrer"
              >
                {" "}
                Ver partido{" "}
              </a>
            </p>
            <p>
              <strong>Torneo:</strong>
              <a
                href={match.tournament.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {" "}
                {match.tournament.name}{" "}
              </a>
            </p>
          </li>
        ))}
      </ul>
    ) : (
      <p>No hay próximos partidos registrados.</p>
    )
  }
</Layout>
