---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";


export async function getStaticPaths() {
    const players = await getCollection("players");

    return players.map((player) => ({
        params: { id: player.slug },
        props: { player }
    }));
}

const { player } = Astro.props
const { data, slug } = player
const { nickname, name, country, birthday, age, team, position, img } = data

const { Content } = await render(player)
---

<Layout title={`Player - ${nickname}`}>
    <div class="flex gap-12 justify-center">
        <aside class="flex flex-col items-center gap-4">
            <img transition:name={`img-${slug}`} class="rounded w-72 h-auto" src={`/${img}`} alt="{name}" />
        </aside>
        <main class="max-w-3xl">
            <h1 transition:name={`nickname-${slug}`} class="text-4xl font-bold mb-4">{nickname}</h1>
            <h1 transition:name={`name-${slug}`} class="text-4xl font-bold mb-4">{name}</h1>
            <div class="prose prose-invert">
                <Content />
            </div>
        </main>
    </div>
</Layout>

<style>
    img {
        filter: drop-shadow(
        0 0 10px rgb(214, 211, 30)
        )
    }

    
</style>